body {
  margin: 0;
  background-image: url('slike/matrix1.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Trebuchet MS', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.container {
  background-color: #005461;
  border: 2px solid black;
  border-radius: 12px;
}

header {
  background-color: #0e767e;
  border-radius: 15px;     
  border: 1px solid black;
  padding: 5px 5px;
  text-align: center;
  color: black;
  display: block;
  margin: 10px auto;   
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  font-size: 22px;
}
header h1,
header .fw-bold {
  color: black;
}
h2{
  font-weight: bold;
  font-size: 30px;
}

.navig {
  background-color: #0e767e;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 10px;
  margin: 15px auto;
  max-width: 1000px;
}
.navig .nav-link {
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 15px;
}
.navig .nav-link:hover {
  color: black;
  text-decoration: underline;
}

.content {
  padding: 20px;
  background-color: #0e767e;
  color: #000;
  border-radius: 15px;
  border: 1px solid black;
}
.info-box {
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  max-width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  text-align: center;
  margin: 10px auto;
}

.table {
  border-collapse: collapse;      
  width: 100%;                     
  font-family: 'Trebuchet MS', Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 16px;        
}
.table th, .table td {
  border: 1px solid black;          
  padding: 8px;                     
  text-align: left;                 
}
.table th {
  background-color: #005461;
  color: black;       
}
.table tbody td {
  background-color: #429494;
  color: black;
  padding: 10px;
  border: 1px solid black;
  font-weight: bold;
}
.table-responsive .table {
  background-color: #0e767e;
  border-radius: 15px;
  overflow: hidden;
  font-family: 'Trebuchet MS', Verdana, Geneva, Tahoma, sans-serif;
}
.table td {
  padding: 10px;
  border: 1px solid black;
  color: black;
}
.table thead th {
  background-color: #095864;
  color: black;
  font-family: 'Trebuchet MS', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}

/* Padajuci meni - stil kao u kontakt.css */
#uslugeSelect {
  margin: 10px auto;
  width: 90%;
  display: block;
  text-align: center;
  font-family: 'Trebuchet MS', Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: #429494;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px;
}
#uslugeSelect:focus {
  outline: none;
  border: 2px solid black;
  background-color: #429494;
  color: black;
}

#rezultat {
  background-color: #429494;
  border: 1px solid black;
  border-radius: 8px;
  color: black;
  font-family: 'Trebuchet MS', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.site-footer {
  background-color: #005461;
  color: black;
  font-family: 'Trebuchet MS', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}